name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
      
    steps:
    - name: Install Maven
      run: sudo mkdir -p /usr/share/man/man1/ && sudo apt update && sudo apt install -y maven python3

    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Set up JDK 8
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        distribution: 'zulu'
        java-version: '8'
    - name: Build with Maven
      run: mvn clean compile resources:resources assembly:single

    - name: Move jar to root
      if: startsWith(github.ref, 'refs/tags/v')
      run: mv target/jMetro-*-jar-with-dependencies.jar .

    - name: Set release
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        chmod +x ./.github/extract_version
        VERSION=`./.github/extract_version`

        set -x
        gh release create "v$VERSION" ./*.jar --title "v$VERSION" --notes "Release v$VERSION"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Generate attestation
      if: startsWith(github.ref, 'refs/tags/v')
      uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v2.4.0
      with:
        subject-path: "jMetro-*.jar"
